li{
    list-style-type: none;
}

title, h1, h2, h3, p, li {
    color: black;
    text-shadow: -.5px 0 red, 0 .5px red, .5px 0 red, 0 -.5px red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    margin: 0 0 0 2%
}

.row {
    background-color:papayawhip;
    padding: 0 0 5% 0;
    opacity: .75;
}

.btn {
    background-color: darkblue;
    color:darkgray;
    height: 35px;
    padding:0% 1% 0% 1%;
    margin: 0 1% 0 0;
}

